h1 {
  text-align: center;
}
footer {background-color: black;
  padding:10px;
  text-align:center;
  color:white;
  font-size:14px;
  }
aside {
  float: left;
  padding: 10px;
  width: 20%;
  background-color: #660;
}
article {
  float: right;
  padding: 0;
  width: 70%;
  font-size:20px;
}
section:after {
  content: "";
  display: table;
  clear: both;
}
ul {
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
  background-color: #880;
}
li {
  float: left;
  border-right: 2px dashed white;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #660;
}
.active{background-color:black}
.image{width:100%}
